<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="week">
      <h2 data-cy="weekDetailsHeading"><span jhiTranslate="parrainageApp.week.detail.title">Week</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ week.id }}</span>
        </dd>
        <dt><span jhiTranslate="parrainageApp.week.start">Start</span></dt>
        <dd>
          <span>{{ week.start | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="parrainageApp.week.end">End</span></dt>
        <dd>
          <span>{{ week.end | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/week', week.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
