<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading" jhiTranslate="parrainageApp.address.home.createOrEditLabel">
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parrainageApp.address.streetLine1" for="field_streetLine1">Street Line 1</label>
          <input
            type="text"
            class="form-control"
            name="streetLine1"
            id="field_streetLine1"
            data-cy="streetLine1"
            formControlName="streetLine1"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parrainageApp.address.streetLine2" for="field_streetLine2">Street Line 2</label>
          <input
            type="text"
            class="form-control"
            name="streetLine2"
            id="field_streetLine2"
            data-cy="streetLine2"
            formControlName="streetLine2"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parrainageApp.address.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parrainageApp.address.stateOrProvince" for="field_stateOrProvince"
            >State Or Province</label
          >
          <input
            type="text"
            class="form-control"
            name="stateOrProvince"
            id="field_stateOrProvince"
            data-cy="stateOrProvince"
            formControlName="stateOrProvince"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parrainageApp.address.postalCode" for="field_postalCode">Postal Code</label>
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parrainageApp.address.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="form-group">
          <label jhiTranslate="parrainageApp.address.user" for="field_users">User</label>
          <select class="form-control" id="field_users" data-cy="user" multiple name="users" formControlName="users">
            <option
              [ngValue]="getSelectedUser(userOption, editForm.get('users')!.value)"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
